@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

main {
  flex: 1 0 auto;
}

.logoHeader {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoHeader img {
  width: 20rem;
}

nav {
  z-index: 10;
}
nav .menuBurger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  font-size: 3rem;
  cursor: pointer;
}
nav .hide {
  display: none;
}
nav .menuItems {
  list-style: none;
  flex-direction: column;
  text-align: center;
  padding: 0.8rem;
}
nav .menuItems li {
  padding: 1rem;
  background: #f9f9f9;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
nav .menuItems li a {
  font-family: "Fjalla One";
  text-decoration: none;
  color: #8f8f8f;
  font-size: 1rem;
  text-transform: uppercase;
}

.sloganMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  color: #022e76;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.valeurMain {
  width: auto;
  background-color: #f5f5f5;
  margin: 4rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.valeurMain .valeursCards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.valeurMain .titleMain {
  padding-top: 3rem;
  text-align: center;
  color: #022e76;
  font-size: 3rem;
  font-weight: 600;
}
.valeurMain .valeursCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.valeurMain .valeurCard {
  margin: 2rem;
}
.valeurMain .valeurCard img {
  width: 17rem;
}
.valeurMain .valeurCard p {
  padding: 3rem 1rem;
  font-size: 1.5rem;
  color: #022e76;
  text-align: center;
}

.aProposMain h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #022e76;
  font-size: 3rem;
  font-weight: 600;
}
.aProposMain .aProposCard .imgAPropos {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aProposMain .aProposCard .imgAPropos img {
  margin: 3rem;
  border-radius: 50%;
  width: 15rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.aProposMain .aProposCard .txtAPropos {
  margin: 0 1rem;
}
.aProposMain .aProposCard .txtAPropos p {
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #022e76;
  text-align: justify;
}

.txtBold {
  font-weight: 900;
}

.lieuxMain {
  background-color: #f5f5f5;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lieuxMain h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #022e76;
  font-size: 3rem;
  font-weight: 600;
}
.lieuxMain .txtLieux {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lieuxMain .txtLieux p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  color: #022e76;
  text-align: justify;
}
.lieuxMain .txtLieux .adresse {
  margin: 1rem;
}
.lieuxMain .txtLieux i {
  margin: 0.7rem;
  font-size: 2rem;
}
.lieuxMain .mapLieux {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lieuxMain .mapLieux iframe {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 700px;
  height: 400px;
}

.faqMain {
  padding: 1rem;
  background-image: url(/public/medias/img/background_liberal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.faqMain h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #022e76;
  font-size: 3rem;
  font-weight: 600;
}
.faqMain .cardsFaq {
  margin: auto 0;
}
.faqMain .cardsFaq .cardFaq {
  z-index: 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  margin: 2rem;
}
.faqMain .cardsFaq .cardFaq h3 {
  font-size: 1.5rem;
  color: #022e76;
  font-weight: 500;
  margin: 1rem;
  font-weight: 600;
}
.faqMain .cardsFaq .cardFaq p {
  font-size: 1.2rem;
  color: #022e76;
  margin: 1rem;
  text-align: justify;
}

.contact h2 {
  margin-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #022e76;
}
.contact a, .contact p {
  padding: 1rem;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  color: #022e76;
  background-color: #e2f7ff;
}
.contact i {
  margin: 5rem;
  font-size: 4rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  color: #022e76;
}

.hautDePage {
  position: fixed;
  bottom: 10%;
  right: 1%;
  color: #022e76;
  width: 3rem;
  height: 3rem;
}
.hautDePage i {
  color: #022e76;
  font-size: 4rem;
}

.informationFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Fjalla One";
  background-color: #b1d8e4;
  padding: 0.5rem;
}
.informationFooter .adresse {
  display: flex;
  align-items: center;
}
.informationFooter .adresse a {
  font-size: 0.9rem;
  color: #fff;
  padding: 0.3rem;
}
.informationFooter .adresse .hide {
  display: none;
}

@media screen and (min-width: 992px) {
  .logoHeader {
    margin-top: 6rem;
  }
  .logoHeader img {
    width: 30rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    opacity: 90%;
  }
  nav .menuBurger {
    display: none;
  }
  nav .menuItems {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  nav .menuItems li {
    margin: 1.5rem;
    background: none;
    box-shadow: none;
    padding: 0;
  }
  nav .menuItems li a {
    font-family: "Fjalla One";
    text-decoration: none;
    color: #8f8f8f;
    font-size: 1rem;
    text-transform: uppercase;
  }
  nav .menuItems li a:hover {
    color: #022e76;
    transition: all 0.5s ease-in-out;
  }
  .sloganMain {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
  }
  .valeurMain {
    margin: 4rem 10rem;
  }
  .valeurMain .valeursCards {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .valeurMain .titleMain {
    font-size: 4rem;
  }
  .valeurMain .valeursCards {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .aProposMain h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 4rem;
  }
  .aProposMain .aProposCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .aProposMain .aProposCard .imgAPropos img {
    border-radius: 50%;
    width: 22rem;
    margin: 1rem 3rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .aProposMain .aProposCard .txtAPropos {
    margin: 0 6rem;
  }
  .aProposMain .aProposCard .txtAPropos p {
    padding: 0.5rem;
    font-size: 1.3rem;
    color: #022e76;
    text-align: justify;
  }
  .txtBold {
    font-weight: 900;
  }
  .lieuxMain {
    background-color: #f5f5f5;
    margin: 5rem 10rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .lieuxMain h2 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #022e76;
    font-size: 4rem;
    font-weight: 600;
  }
  .lieuxMain .txtLieux p {
    font-size: 1.3rem;
  }
  .lieuxMain .mapLieux iframe {
    margin: 3rem;
    width: 700px;
    height: 550px;
  }
  .faqMain {
    padding: 5rem;
  }
  .faqMain p {
    font-size: 1.5rem;
  }
  .contact h2 {
    padding-top: 3rem;
    text-align: center;
    color: #022e76;
    font-size: 3rem;
    font-weight: 600;
  }
  .contact a:hover {
    color: red;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .informationFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Fjalla One";
    background-color: #b1d8e4;
    padding: 0.5rem;
  }
  .informationFooter .adresse {
    display: flex;
    flex-direction: inherit;
    justify-content: space-evenly;
    align-items: center;
  }
  .informationFooter .adresse a {
    color: #fff;
  }
  .informationFooter .adresse .hide {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
