@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

//--------------- COLOR --------------
$color-header-bg: #b1d8e4;
$color-logo: #022e76;
$color-header-txt-blue: #022e76 ;
$color-header-txt-white: #fff ;
$color-bg-light-blue: #e2f7ff;

$bg-grey: #f9f9f9;
$bg-beige: #f5f5f5;

$txt-grey: #8f8f8f;
//--------------- FONT --------------
$font-main: 'Raleway', sans-serif;
$font-title: "Oswald", sans-serif;
$font-subtitle: 'Fjalla One' ;
//-----------------
