@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Nunito:400,700');

//--------------- COLOR --------------
$color-header-bg: #b1d8e4;
$color-logo: #022e76;
$color-header-txt-blue: #022e76 ;
$color-header-txt-white: #fff ;

$bg-grey: #f9f9f9;

$txt-grey: #8f8f8f;
//--------------- FONT --------------
$font-main: 'Fjalla One';
$font-title: "Oswald", sans-serif;
$font-subtitle: 'Fjalla One' ;
//-----------------
