@import '_reset', '_variables';

//------------MIXIN---------------
@mixin displayFlexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin displayFlexCenterBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin displayFlexCenterEvenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@mixin displayFlexColumn{
  display: flex;
  flex-direction: column;
}

@mixin displayFlexEnd{
  display: flex;
  justify-content: flex-end;
}
//---------------BODY-----------------
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
}
//---------------MAIN-----------------
main {
  flex: 1 0 auto;
}
//------------HEADER-------------------------------

//------------LOGO----------------
.logoHeader{
  margin-top: 2rem;
  @include displayFlexCenter;
img{
  width: 20rem;
  }
}
//------------MENU----------------
nav {
  z-index: 10;
  .menuBurger{
    @include displayFlexCenter;
    margin: 1rem 0;
    font-size: 3rem;
    cursor: pointer;
  }
  .hide{
    display: none;
  }
  .menuItems {
    list-style: none;
    flex-direction: column;
    text-align: center;
    padding: .8rem;
    li {
      padding: 1rem;
      background: $bg-grey;
      margin: 1rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      a {
        font-family: $font-subtitle;
        text-decoration: none;
        color: $txt-grey;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
//------------MAIN---------------------------------------------
//------------SLOGAN----------------
.sloganMain{
  @include displayFlexCenter;
  margin: 3rem;
  color: $color-logo;
  font-weight: 600;
  font-family: $font-title;
  font-size: 2rem;
  text-align: center;
}
//------------VALEURS----------------
.valeurMain{
  width: auto;
  background-color: $bg-beige;
  margin: 4rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .valeursCards{
    @include displayFlexCenter;
  }
 .titleMain{
  padding-top: 3rem;
  text-align: center;
  color: $color-logo;
  font-size: 3rem;
  font-weight: 600;
 }
 .valeursCards{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .valeurCard{
  margin: 2rem;
  img{
    width: 17rem;
  }
  p{
    padding: 3rem 1rem;
    font-size: 1.5rem;
    color: $color-header-txt-blue;
    text-align: center;
  }
 }
}
//------------------A PROPOS-------------
.aProposMain{
 h2{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: $color-logo;
  font-size: 3rem;
  font-weight: 600;
 }
  .aProposCard{ 
      .imgAPropos{
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
        margin: 3rem;
        border-radius: 50%;
        width: 15rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }
    }
      .txtAPropos{
        margin: 0 1rem;
        p{
          padding: .5rem;
          font-size: 1.3rem;
          color: $color-header-txt-blue;
          text-align: justify;
        }
      }
      
  }
}
//-----------OU NOUS TROUVER-----------
.txtBold{
  font-weight: 900;
}
.lieuxMain{
  background-color: $bg-beige;
  margin: .5rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  h2{
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  color: $color-logo;
  font-size: 3rem;
  font-weight: 600;
  }
  .txtLieux{
    margin: 2rem;
    @include displayFlexCenterEvenly();
    p{
      @include displayFlexCenter();
      padding: .5rem;
      font-size: 1rem;
      color: $color-header-txt-blue;
      text-align: justify;
    }
    .adresse{
      margin: 1rem;
    }
    i{
      margin: .7rem;
      font-size: 2rem;
    }
  }
  .mapLieux{
    @include displayFlexCenterEvenly();
    iframe{
      margin: 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      width: 700px;
      height: 400px;
    }
  }
}
//----------FAQ---------------
.faqMain{
  padding: 1rem;
  background-image: url(/public/medias/img/background_liberal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  h2{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    color: $color-logo;
    font-size: 3rem;
    font-weight: 600;
    }
    .cardsFaq{
      margin: auto 0;
      .cardFaq{
        z-index: 0;
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        margin: 2rem;
        h3{
          font-size: 1.5rem;
          color: $color-header-txt-blue;
          font-weight: 500;
          margin: 1rem;
          font-weight: 600;
        }
        p{
          font-size: 1.2rem;
          color: $color-header-txt-blue;
          margin: 1rem;
          text-align: justify;
        }
      }
    }
}
//--------------CONTACTE------------
.contact{
  h2{
    margin-bottom: 3rem;
    padding-top: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: $color-logo;
  }
  a, p{
    padding: 1rem;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    color: $color-logo;
    background-color: $color-bg-light-blue;
  }
  i{
    margin: 5rem;
    font-size: 4rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    color: $color-logo;
  }
}
//------------HAUT DE PAGE---------
.hautDePage{
  position: fixed;
  bottom: 10%;
  right: 1%;
  color: $color-header-txt-blue;
  width: 3rem;
  height: 3rem;
  i{
    color: $color-header-txt-blue;
    font-size: 4rem;
  }
}

//------------FOOTER--------------
//------------INFORMATION---------
.informationFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: $font-subtitle;
  background-color: $color-header-bg;
  padding: .5rem;
    .adresse{
      display: flex;
      align-items:  center;
      a{
        font-size: .9rem;
        color: $color-header-txt-white;
        padding: .3rem;
      }
      .hide{
        display: none;
      }
    }
  }

//--------------------------------------------------------------MEDIA QUERIES-----------------------------------------------------------------------
@media (min-width: 768px) {
 
}
//Big screen
@media screen and (min-width: 992px) {
  //------------LOGO----------------
.logoHeader{
  margin-top: 6rem;
  img{
    width: 30rem;
    }
  }
  nav {
    .menuBurger{
      display: none;
    }
     @include displayFlexCenter;
  position: fixed;
  top: 0;
  width: 100%;
  background: $bg-grey;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  opacity: 90%;
  .menuItems {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-around;
    li {
      margin: 1.5rem;
      background: none;
      box-shadow: none;
      padding: 0;
      a {
        font-family: $font-subtitle;
        text-decoration: none;
        color: $txt-grey;
        font-size: 1rem;
        text-transform: uppercase;
        &:hover {
          color: $color-header-txt-blue;
            transition: all .5s ease-in-out;
        }
      }
    }
  }
}
//------------MAIN---------------------------------------------
//------------SLOGAN----------------
.sloganMain{
  @include displayFlexCenter;
  font-size: 4rem;
}

//------------VALEURS----------------
.valeurMain{
  margin: 4rem 10rem;
  .valeursCards{
    @include displayFlexCenter;
  }
 .titleMain{
  font-size: 4rem;
 }
 .valeursCards{
  display: flex;
  flex-direction: row;
  align-items: center;
 }
}
//------------------A PROPOS-------------
.aProposMain{
  h2{
   padding-top: 3rem;
   padding-bottom: 3rem;
   font-size: 4rem;
  }
   .aProposCard{ 
     @include displayFlexCenterEvenly();
       .imgAPropos{
        img{
         border-radius: 50%;
         width: 22rem;
         margin: 1rem 3rem;
         box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
       }
      }
       .txtAPropos{
         margin: 0 6rem;
         p{
           padding: .5rem;
           font-size: 1.3rem;
           color: $color-header-txt-blue;
           text-align: justify;
         }
       }
       
   }
 }

 //-----------OU NOUS TROUVER-----------
.txtBold{
  font-weight: 900;
}
.lieuxMain{
  background-color: $bg-beige;
  margin: 5rem 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  h2{
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  color: $color-logo;
  font-size: 4rem;
  font-weight: 600;
  }
  .txtLieux{
    p{
      font-size: 1.3rem;
    }
  }
  .mapLieux{
    iframe{
      margin: 3rem;
      width: 700px;
      height: 550px;
    }
  }
}

//----------FAQ---------------
.faqMain{
  padding: 5rem;
  p{
    font-size: 1.5rem;
  }
}
//--------------CONTACTE------------
.contact{
  h2{
    padding-top: 3rem;
  text-align: center;
  color: $color-logo;
  font-size: 3rem;
  font-weight: 600;
  }
  a:hover{
    color: red;
    font-weight: 800;
    cursor: pointer;
    transition: all .2s ease-in-out;
    
  }
}

//------------FOOTER--------------
//------------INFORMATION---------
.informationFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: $font-subtitle;
  background-color: $color-header-bg;
  padding: .5rem;
    .adresse{
      display: flex;
      flex-direction: inherit;
      justify-content: space-evenly;
      align-items: center;
      a{
        color: $color-header-txt-white;
      }
      .hide{
        display: block;
      }
    }
  }

}
