@import '_reset', '_variables';

//------------MIXIN---------------
@mixin displayFlexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin displayFlexCenterBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin displayFlexCenterEvenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@mixin displayFlexColumn{
  display: flex;
  flex-direction: column;
}

@mixin displayFlexEnd{
  display: flex;
  justify-content: flex-end;
}
//---------------BODY-----------------
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
}
//---------------MAIN-----------------
main {
  flex: 1 0 auto;
}
//------------HEADER-------------------------------

//------------INFORMATION---------
.informationHeader{
font-family: $font-subtitle;
background-color: $color-header-bg;
padding: .5rem;
  .adresse{
    @include displayFlexCenterEvenly;
    a{
      color: $color-header-txt-white;
    }
  }
}
//------------LOGO----------------
.logoHeader{
  margin-top: 6rem;
  @include displayFlexCenter;
img{
  width: 30rem;
  }
}

//------------MENU----------------
nav {
  @include displayFlexCenter;
  position: fixed;
  width: 100%;
  top: 0;
  background: $bg-grey;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  .menuItems {
    list-style: none;
    display: flex;
    li {
      margin: 1.5rem;
      a {
        font-family: $font-subtitle;
        text-decoration: none;
        color: $txt-grey;
        font-size: 1rem;
        text-transform: uppercase;
        &:hover {
          color: $color-header-txt-blue;
            transition: all .5s ease-in-out;
        }
      }
    }
  }
}
//------------MAIN---------------------------------------------
//------------SLOGAN----------------
.sloganMain{
  @include displayFlexCenter;
  margin: 3rem;
  color: $color-logo;
  font-weight: 600;
  font-family: $font-title;
  font-size: 4rem;
  text-align: center;
}
//------------VALEURS----------------
.valeurMain{
  background-color: $bg-beige;
  margin: 4rem 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .valeursCards{
    @include displayFlexCenter;
  }
 .titleMain{
  padding-top: 3rem;
  text-align: center;
  color: $color-logo;
  font-size: 4rem;
  font-weight: 600;
 }
 .valeurCard{
  margin: 2rem;
  img{
    width: 17rem;
  }
  p{
    padding: 3rem 1rem;
    font-size: 1.5rem;
    color: $color-header-txt-blue;
    text-align: center;
  }
 }
}
//------------------A PROPOS-------------
.aProposMain{
 h2{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: $color-logo;
  font-size: 4rem;
  font-weight: 600;
 }
  .aProposCard{ 
    @include displayFlexCenterEvenly();
      .imgAPropos{
        border-radius: 50%;
        width: 22rem;
        margin: 1rem 3rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }
      .txtAPropos{
        margin: 0 6rem;
        p{
          padding: .5rem;
          font-size: 1.3rem;
          color: $color-header-txt-blue;
          text-align: justify;
        }
      }
      
  }
}
//-----------OU NOUS TROUVER-----------
.txtBold{
  font-weight: 900;
}
.lieuxMain{
  background-color: $bg-beige;
  margin: 5rem 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  h2{
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  color: $color-logo;
  font-size: 4rem;
  font-weight: 600;
  }
  .txtLieux{
    margin: 2rem;
    @include displayFlexCenterEvenly();
    p{
      @include displayFlexCenter();
      padding: .5rem;
      font-size: 1.3rem;
      color: $color-header-txt-blue;
      text-align: justify;
    }
  }
  .mapLieux{
    @include displayFlexCenterEvenly();
    iframe{
      margin: 3rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      width: 700px;
      height: 550px;
    }
  }
}
//----------FAQ---------------
.faqMain{
  padding: 5rem;
}
//--------------------------------------------------------------MEDIA QUERIES-----------------------------------------------------------------------
@media (min-width: 768px) {
 
}
//Big screen
@media screen and (min-width: 992px) {
  
}